@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--radius: 0.5rem;
	}

	.light {
		--text: #424242;

		--background: #fdf7fd;
		--foreground: var(--text);

		--muted: var(--background);
		--muted-foreground: var(--text);

		--popover: var(--background);
		--popover-foreground: var(--text);

		--card: var(--background);
		--card-foreground: var(--text);

		--border: var(--text);
		--input: var(--text);

		--primary: #4eb848;
		--primary-foreground: var(--text);

		--secondary: #baedeb;
		--secondary-foreground: var(--text);

		--accent: #33ae2d;
		--accent-foreground: var(--text);

		--destructive: var(--background);
		--destructive-foreground: var(--text);

		--ring: var(--text);
	}

	.dark {
		--text: #ffffff;

		--background: black;
		--foreground: var(--text);

		--muted: #808080;
		--muted-foreground: #a7a7a7;

		--popover: var(--background);
		--popover-foreground: var(--text);

		--card: var(--background);
		--card-foreground: var(--text);

		--border: var(--accent);
		--input: var(--accent);

		--accent-start: rgb(26, 26, 26);
		--accent-end: rgba(19, 19, 19);

		--primary: var(--accent-start);
		--primary-foreground: white;

		--secondary: var(--accent);
		--secondary-foreground: var(--text);

		--accent: rgba(255, 255, 255, 0.09);
		--accent-foreground: var(--text);

		--destructive: var(--background);
		--destructive-foreground: var(--text);

		--ring: var(--accent);
	}

	.green {
		--text: #ffffff;

		--background: #0c1f22;
		--foreground: var(--text);

		--muted: var(--secondary);
		--muted-foreground: #929292;

		--popover: var(--background);
		--popover-foreground: var(--text);

		--card: var(--background);
		--card-foreground: var(--text);

		--border: var(--secondary);
		--input: var(--secondary);

		--primary: #db9e95;
		--primary-foreground: var(--text);

		--secondary: #143439;
		--secondary-foreground: var(--text);

		--accent: #c46354;
		--accent-foreground: var(--text);

		--destructive: var(--background);
		--destructive-foreground: var(--text);

		--ring: var(--text);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
